#example1.accordion-slider
  .as-panels
    / Panel 1
    .as-panel
      %a{:href => "#"}
        %img.as-background{:src => image_path("gray-crete.jpeg")}/
      .as-layer.as-closed.as-white.panel-counter{"data-horizontal" => "8", "data-position" => "bottomLeft", "data-vertical" => "8"}
      %h1.as-layer.as-opened.as-white.as-padding{"data-hide-transition" => "left", "data-horizontal" => "center", "data-show-delay" => "500", "data-show-transition" => "right", "data-vertical" => "44%"}
        Contact Us
    / Panel 2
    .as-panel
      %a{:href => "#"}
        %img.as-background{:src => image_path("brown-crete.jpeg")}/
      .as-layer.as-closed.as-white.panel-counter{"data-horizontal" => "8", "data-position" => "bottomLeft", "data-vertical" => "8"}
      %h1.as-layer.as-opened.as-white.as-padding{"data-hide-transition" => "left", "data-horizontal" => "center", "data-show-delay" => "500", "data-show-transition" => "right", "data-vertical" => "44%"}
        Get A Bid
    / Panel 3
    .as-panel
      %a{:href => "#"}
        %img.as-background{:src => image_path("gray-crete.jpeg")}/
      .as-layer.as-closed.as-white.panel-counter{"data-horizontal" => "8", "data-position" => "bottomLeft", "data-vertical" => "8"}
      %h1.as-layer.as-opened.as-white.as-padding{"data-hide-transition" => "left", "data-horizontal" => "center", "data-show-delay" => "500", "data-show-transition" => "right", "data-vertical" => "44%"}
        Gallery
    / Panel 4
    .as-panel
      %a{:href => "#"}
        %img.as-background{:src => image_path("brown-crete.jpeg")}/
      .as-layer.as-closed.as-white.panel-counter{"data-horizontal" => "8", "data-position" => "bottomLeft", "data-vertical" => "8"}
      %h1.as-layer.as-opened.as-white.as-padding{"data-hide-transition" => "left", "data-horizontal" => "center", "data-show-delay" => "500", "data-show-transition" => "right", "data-vertical" => "44%"}
        About Us
    / Panel 5
    .as-panel
      %a{:href => "#"}
        %img.as-background{:src => image_path("gray-crete.jpeg")}/
      .as-layer.as-closed.as-white.panel-counter{"data-horizontal" => "8", "data-position" => "bottomLeft", "data-vertical" => "8"}
      %h1.as-layer.as-opened.as-white.as-padding{"data-hide-transition" => "left", "data-horizontal" => "center", "data-show-delay" => "500", "data-show-transition" => "right", "data-vertical" => "33%"}
        Seal Crete.
      %h3.as-layer.as-opened.as-black.as-padding{"data-hide-delay" => "200", "data-hide-transition" => "right", "data-horizontal" => "center", "data-show-delay" => "700", "data-show-transition" => "left", "data-vertical" => "58%"}
        Concrete Protection Specialists